* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;


}

.container {

    background-image: url(img/home.png);

    background-position-y: -2vh;
    background-repeat: no-repeat;
    width: 100vw;
    height: 140vh;
    background-size: cover;

}
header {
     position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
     z-index: 101;
    transition: ease .40s;
}
.commandheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:#DFDFDF;
    
}

.commandheader a {
    color: #070706;
    font-size: calc(0.5rem+1.5vw);

}

header img {
    width:40px;
    height: 40px;
}

.logo a {


    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo h3{
    font-size: 10px;
}


.navcommad {
   
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.navcommad li:hover {
    text-decoration: underline;

}

.lastelement:hover {
    background: #F4F3F3;
}



.lastelement {

    padding: 10px;

    border-radius: 3vh;
}

#icons {
    cursor: pointer;
    display: none;
    font-size: 2.5rem;
    
}

@media(max-width:650px) {

    .lastelement {
        background: none;
        border-radius: 0PX;

    }

    #icons {
        display: block;

    }

    #icons::before {
        content: "\2630";



    }

    .active #icons::before {
        content: "\2715";
        transform: scale(1.1);
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        background-color: #903a3a;
        width: 100%;
        text-align: center;
        transition: 0.25s;

    }

    nav li {
        padding: 3px 0;
        height: 40px;
    }

    nav.active ul {
        left: 0%;
        width: 90%;
        background: #797979;
        color: rgb(229, 229, 229);
        display: block;
    }

    .active .navcommad li:hover {
        text-decoration: underline rgb(0, 0, 0);
        background-color: #e2e2e2;
        /* Couleur d'arrière-plan lorsque vous survolez */
        color: blanchedalmond;
        /* Couleur du texte lorsque vous survolez */
    }
    nav.active li{
        background-color: #bababa;
        
    }
}

/**** body***/


.logohome img {
   max-width: ; width: 33vh;
}

.logohome {
    /*logo de la pagee home*/

    position: relative;
    top: 82vh;
    left: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    max-width: 100%;

}

.titre {
    text-align: center;
    color: #000;
    font-family: Inria Serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px;
}

.cartes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2vh;
}

.carte {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;

}

.carte h3 {

    display: inline;
    background: #B1BED5;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    height: 45px;
    display: flex;
    align-items: center;
}

.carte img {

    width: 100%;
    height: 100%;
    border-radius: 5vh;
}

/**************/
/* Style for the avis section */

.avis {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/* Style for individual Box elements */
.Box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    /* Adjust the width based on your layout */
    box-sizing: border-box;
    text-align: center;
}

/* Style for client images */
.clientsatisfait img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Style for client names */
.clientsatisfait h3 {
    font-size: 18px;
}

/* Style for star ratings */
.checked {
    color: orange;
    font-size: 16px;
}

/* Style for client reviews */
.Box p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 10px;
}

.lasthome {

    margin-top: 10vh;
    padding: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh
}

/**************/
/*
.avis {
    

    display: flex;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;

}

.clientsatisfait {
    display: flex;
    align-items: center;


}
.clientsatisfait img {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    margin-right: 10px; 
}

.checked {
    
    color: orange;
}


.Box {
    padding: 1vh;
    color: #000;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #FA600A;
    background: #9A9797;
    width: 300px;
    height: 200px;

}*/

/******************************/
/*
.faq{
    display: inline-flex;
padding: 4%;
flex-direction: column;
align-items: center;
background: rgb(245, 245, 245);
border-radius: 10px;
background: #FFF;
}
.faq p{
    background:#9A9797;
    text-align:center;
    padding:1em;
    width: 100%;
    line-height: 20px;
    margin: 2%;
    border-radius: 5px;
    border: 1px solid #FA600A;
}
*/
/*******partie FAQS**********/
.containfaq {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background:#9fc3be;
    color: #ffffff;
filter: brightness(1);
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    padding-bottom: 4rem;
    border-radius: 0.7rem;

}

.title {
    font-size: 3rem;
    margin: 2rem 0rem;

}

.faq {
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 1.8rem;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.4rem;
    opacity: 0.7;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.faq .active .answer {
    max-height: 300px;
}

.faq.active svg {
    transform: rotate(180deg);

}

svg {
    transition: transform 0.5s ease-in;
}

/*****************************/
.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

/*************  reseau sociaux***************/
.list {
    width: 370px;
    text-align: center;
}

.list {
    line-height: 25px;
}

.list .social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.social a {
    height: 40px;
    width: 40px;
    background:#F4F3F3;
    color: rgb(36, 29, 29);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    transition: .3s;
    margin-right: 10px;
}

.social a:hover {
    transform: scale(1.1);
}

/***************************************************/
footer {
    padding: 2vh;
    background-color: #BFD8D5;
    color: #ffffff;


}

footer .logofooter img {
    width: 10vw;
    height: 18vh;
}

.logofooter {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
}

footer h5 {

    text-align: center;
  
    
}
  /******S'INSCRIRE******/
  .containerinscrire{
    background-color: #bcbbbb;
  }
  /**********carte abbonement***********/
.subscription-section{
    text-align: center;
}
.subscription-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
  
    max-height: 80vh; 
}
.card {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 100px rgba(62, 54, 42, 0.995);
    background-color: #ffffff;
    text-align: center;
    max-height: 80vh; 
}

.card h3 {
    font-size: 1.5rem;
    color: #FA600A;
    text-decoration: underline;
    padding-bottom:  0px;
}

.card img {
    max-width: 90%;
    height: 80%;
    border-radius: 15px;
}

.card p {
    font-size: 1.1rem;
    color: #000000;
    margin: 10px 0;
}


/*************FORMULAIRE******************/
.backformulaire{
    width: 100%;
    height: auto;
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.formulaire {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20vh auto;
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff78;
    padding: 20px;
    border-radius: 15px;

}

form {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    width: 80%;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 3px solid #000000;
    border-radius: 6px;
}
button{
    width: 100%;
   height: 5.6vh;
   border-radius: 6px;
   border: 2px solid #000;
   background: #000;
   color:white;
   margin-top: 10px;
   cursor: pointer;
}
button:hover {
background-color: #FA600A;
}
#error-message1 ,#error-message2 ,#error-message3,#error-message4{
    color: red;
    margin-top: 10px;
}
/**************programs**********/


.typeprogram{
    
   display: flex;
   flex-direction: column;
  gap: 20px;
}



.cardprogram {

   
   width: 300px;
    text-align: center;
}

.cardprogram img {
    
    width: 100%;
  z-index: 99;

    border-radius: 52px 52px 0px 0px;
   
}
.decripcard{
    position: relative;
    width: 100%;
    height: 35vh;
     background-color: #ffffff;
     border:1px #000 solid;
     border-top: 0;
    border-radius:0 0 52px 52px ; 
    margin-top: -100px;

  z-index: 100;
}

.cardprogram h2 {
    font-size: 1.5rem;
    color: #000;
   
}

.cardprogram p {
    font-size: 1rem;
    margin:0;
    color: #000;
}
.program-cards1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: #878787;
    padding: 20px;
    color: white;
    background-image: radial-gradient(#d5d2d2 15%, #6b5f5f 90%);
   margin-top: 200px;
}
/**********type 2 des programes******/
.program-cards2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: white;
    background-color: #4d6273;
    background-image: radial-gradient(#B1BED5 5%, rgb(93, 87, 87) 80%);
    padding: 20px;

}
/**********type 3 des programes******/
.program-cards3{
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: white;
    background-image: radial-gradient(#98b2ad 1%, #BFD8D5 100%);
    padding: 20px; 
    
}
.program-cards4{
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    color: white;
    background-image: radial-gradient(#B1BED5 15%, rgb(36, 37, 41) 100%);
    padding: 20px; 
    
}